<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.customer.mapper.local.RoleBaseDOMapper">

	<select id="test"  >
       update role set name ='test' where id =1
    </select>
</mapper>